.rst-versions .rst-current-version {
    color: #000000; 
}

.version-switcher__button {
    color: #000000 !important;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.ttf.ttf') format('truetype');
}

body {
    font-family: 'Nunito', sans-serif;
}