.switch-menus {
    color: #000000 !important;
}

select {
    color: #000000 !important;
}

a {
    margin: 0;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.ttf.ttf') format('truetype');
}

body {
    font-family: 'Nunito', sans-serif;
}